header {
    padding-block: 32px;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding-inline: 16px;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 16px;
}

#profile > div {
    max-width: 296px;
}

#profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);  
    margin-bottom: 8px;  
}

#profile p {
    font: var(--text-md);
}

#info {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 16px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

#info span {
    font: var(--text-md);
}

@media (width >= 43.75em) {
    #profile > div {
        max-width: 384px;
    }

    #profile img {
        width: 176px;
        height: 176px;
    }
    

    #profile {
        gap: 32px;
    }
}
